body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }

  #goback{
    font-family: cursive;
    font-size: 16px;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #goback:hover{
    background-color: #45a049;
  }

  #head-text {
    font-family: cursive;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin: 20px;
  }

  .container {
    text-align: center;
    margin: 20px;
  }

  label {
    font-family: cursive;
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #333;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  button {
    font-family: cursive;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: #45a049;
  }

  button:active {
    background-color: #3e8940;
  }
  
  textarea[readonly] {
    background-color: #f2f2f2;
  }